name: Attendance Bot

on:
  schedule:
    - cron: "30 4 * * *"
    - cron: "30 12 * * *"
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: |
          pip install -r requirements.txt
          playwright install --with-deps

      - run: python newthing.py


